:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
}

#root {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
